<main>
    <table>
        <thead>
            <tr>
                <th>Nro</th>
                <th>Disponible</th>
                <th>Ingreso</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>
            @for (cochera of dataCocherasService.cocheras; track $index){
                <tr>
                    <td>{{cochera.id}}</td>
                    <td>
                        @if (cochera.deshabilitada){
                            <button class="deshabilitada">
                                Deshabilitada
                            </button>
                            
                        }@else if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento) {
                            <button (click)="cerrarEstacionamiento(cochera)">
                                {{cochera.estacionamiento.patente}}
                            </button>
                        }@else {
                            <button (click)="abrirEstacionamiento(cochera.id)">
                                Disponible
                            </button>
                        }
                    </td>
                    <td>{{cochera.descripcion}}</td>
                    <!-- <td [ngClass]="{'disponible': cochera.disponibilidad, 'ocupado': !cochera.disponibilidad}">{{cochera.disponibilidad ? "Disponible" : "Ocupado"}}</td>
                    <td>{{cochera.ingreso}}</td> -->
                    <td> 
                               
                        @if(!cochera.estacionamiento?.patente){
                            @if(!cochera.deshabilitada){
                                <button (click)="preguntarDeshabilitarCochera(cochera.id)">Deshabilitar</button>
                            } @else {
                                <button (click)="preguntarHabilitarcochera(cochera.id)">Habilitar</button>
                            }
                            @if(esAdmin){
                                <button (click)="preguntarBorrarCochera(cochera.id)">Eliminar cochera</button>
                            }
                        }
                    </td>
                </tr>
            <!-- } @empty {
                <button (click)="preguntarPatenteCochera()" class="boton-principal">Agrega cocheras</button>
            } -->
            }
        </tbody>
    </table>
    @if (esAdmin) {
        <div class="contenedor-boton-agregar">
            <!-- <button (click)="actualizarCochera()"class="boton-tabla">Borrar cocheras</button> -->
            <button (click)="preguntarAgregarCochera()"class="boton-agregar">+</button>
        </div>
    }
   
</main>
    

<!-- } @else {
    <button (click)="agregarCochera()" class="boton-principal" id="boton-agregar-cocheras">¿Deseas agregar cocheras?</button>
} -->


