<header>
    <nav id="titulo-pagina">
        <p>Cochera Ituzaingó</p>    
    </nav>
    <nav id="dashbord">
        <a [routerLink]="['/estado-cocheras']" routerLinkActive="link-active">Estado cocheras</a>
        @if (esAdmin) {
            <a [routerLink]="['/reportes']" routerLinkActive="link-active">Reportes</a>
            <a [routerLink]="['/precios']" routerLinkActive="link-active">Precios</a>   
        }
            <div class="cerrarSesion">
                <button (click)="cerrarSesion()">
                    Cerrar sesión
                </button>
            </div>
    </nav>
</header>
<router-outlet/>    

